$annotation-border-color: orange;
$annotation-active-border-color: lighten(green, 20%);
.cal-annotation {
  position: absolute;
  left: -55px;
  top: -7px;
  // it is better that the "hover area" is more right than left, because annotations which are to the right have hover priority anyway.
  padding-left:1px;
  padding-right:4px;
  padding-top: 8px;
  margin-top: -8px;
  transition: top $animlength;

  .indicator {
    cursor: pointer;
    //width: 10px;
    width: 5px;
    height: 8px;
    top: -3px;
    border: 2px solid $annotation-border-color;
    @include border-radius(5px);
    background-color: white;
    position: relative;
    @include box-sizing(border-box);
  }
  
  .cal-tooltip {
    cursor: auto;
    z-index: 2;
    position: absolute;
    display: none;
    background-color: white;
    top: 0px;
    left: 25px;
    padding: 7px;
    border-radius: 5px;
    border: 2px solid $annotation-border-color;
    //max-width: 60%;
    width: 40em;
  }
}
.cal-annotation-duration .indicator {
  top: 0px;
  width: 5px;
  border: 2px solid $annotation-border-color;
  transition: height $animlength;
}
.cal-annotation-action {
  text-decoration: none;
  margin-left: 1em;
}
.cal-annotation:hover, .cal-annotation.cal-annotation-active {
  width: 40em;
  height: 3em;


  .cal-tooltip {
    display: block;
  }
  .indicator {
    border-color: lighten($annotation-border-color, 20%);
  }
}
.cal-annotation.cal-annotation-active {
  .indicator {
    border-color: $annotation-active-border-color;
  }
  .cal-tooltip {
    border-color: $annotation-active-border-color;
    z-index: 1;
  }
}
