/* Must be included by calling script. */

$animlength: 1s;

.tapo-calendar-calendarview {
  @import "eventstyles";
  overflow-y: scroll;
  
  &.inzoomanimation {
    overflow-y: hidden;
  }
  .calendarview-wrapper {
    position: relative;
  }
  &.inzoomanimation .calendarview-wrapper {
    position: relative;
    //transition: top $animlength;
    @include transition(top $animlength);
    //@include transition-property(top);
    //@include transition-duration($animlength);
  }
  &.inzoomanimation .cal-now {
    display: none;
  }

.cal-wrapper {
    overflow: hidden;
    position: relative;
}

.cal-timegrid-wrapper {
    position: relative;
    /*top: 1px;*/
}
.cal-timegrid {
    position: absolute;
    width: 100%;
}
.placeholder-cell {
  width: 60px;
}

.cal-table {
    border-collapse: collapse;
    border: 0px;

    width: 100%;

    font-family: Arial, Verdana;
    font-size: 8pt;
    line-height: normal;
}

.cal-table tr {
    vertical-align: top;
}

.cal-timegrid-hour,
.cal-timelabel-wrapper,
.cal-timelabel {
    border-top: 1px solid #ccc;
}
.cal-timegrid-hour-half {
  border-bottom: 1px dashed #ccc;
}

.cal-timegrid-hour-quarter,
.cal-timegrid-five-minute,
.cal-timegrid-minute-five, 
.cal-timegrid-minute {
    border-bottom: 1px dotted #ddd;
}
.cal-timelabel {
    text-align: right;
    color: #888;
    padding-right: 5px;
}

  .cal-timegrid-hour, .cal-timelabel-wrapper, .cal-timelabel, .cal-timegrid-hour-half,
  .cal-timegrid-minute-five, .cal-timegrid-minute, .cal-eventlistwrapper, .cal-event, .cal-timegrid-five-minute {
    //transition: height 0.5s;
    //transition: height $animlength, top $animlength;
    //@include transition-property(height, top);
    //@include transition-duration($animlength, $animlength);
    @include transition(height $animlength, top $animlength);
  }
  
  .cal-event.resizing, .cal-event.moving {
    //transition: none;
    @include transition(none);
  }

.cal-event .delete-inline-wrapper {
  float: right;
}
.cal-event .delete-inline {
  background-image: inline-image("delete_inline.gif");
  width: 12px;
  height: 12px;
  display: inline-block;
}

@mixin zoomlevel($height) {
  .cal-timegrid-hour, .cal-timelabel-wrapper, .cal-timelabel {
    height: $height - 1;
  }
  .cal-timegrid-hour-half {
    height: $height / 2 - 1;
  }
  /*
  .cal-timegrid-hour-quarter {
    height: $height / 4 - 1;
  }
  .cal-timegrid-minute-five {
    height: $height / 12;
  }
  .cal-timegrid-minute {
    height: $height / 60;
  }
  */
  .cal-timegrid-five-minute {
    @if $height > 240px {
      height: $height / 12 - 1;
      opacity: 1;
    } @else {
      opacity: 0;
      height: $height / 12 - 1;
    }
  }
  .cal-eventlistwrapper {
    position: relative;
    height: $height * 24;
    cursor: pointer;
  }
}

.zoom-overviewday {
  @include zoomlevel(36px);
}
.zoom-day {
  @include zoomlevel(60px);
}
.zoom-quarter-hour {
  @include zoomlevel(240px);
}
.zoom-five-minutes {
  @include zoomlevel(960px);
}
.zoom-minute {
  @include zoomlevel(3840px);
}

}